
__pycache__/api.cpython-39.pyc
__pycache__/music.cpython-39.pyc
__pycache__/welcome.cpython-39.pyc
ffmpeg.exe
welcome.txt
welcome/110962789522108416/gay.mp3
welcome/110964049780408320/gamatatsu.mp3
welcome/126887472759046144/cripdepress.mp3
welcome/126887472759046144/gay.mp3
welcome/126887472759046144/the pump.mp3
welcome/128717386659397632/circus.mp3
welcome/128717386659397632/coming.mp3
welcome/128717386659397632/mother_father.mp3
welcome/128717386659397632/the pump.mp3
welcome/138147551491784705/hoyah.mp3
welcome/188066678020505601/meow.mp3
welcome/247780266368565248/pengu-dam.mp3
welcome/247780266368565248/pengu-fk.mp3
welcome/281307351729045504/celeste.mp3
welcome/93503524373008384/family.mp3
welcome/93518343683715072/electabuzz.mp3
.env
soundboard/bully.mp3
soundboard/circus.mp3
soundboard/coming.mp3
soundboard/cripdepress.mp3
soundboard/disgarsting.mp3
soundboard/dog_doin.mp3
soundboard/e_damage.mp3
soundboard/electabuzz.mp3
soundboard/family.mp3
soundboard/gamatatsu.mp3
soundboard/gay.mp3
soundboard/giant_rat.mp3
soundboard/hoyah.mp3
soundboard/huzzah.mp3
soundboard/journey.mp3
soundboard/knock.mp3
soundboard/meow.mp3
soundboard/mother_father.mp3
soundboard/op_crutch.mp3
soundboard/pengu-dam.mp3
soundboard/pengu-fk.mp3
soundboard/posture1.mp3
soundboard/posture2.mp3
soundboard/posture3.mp3
soundboard/posture4.mp3
soundboard/pump.mp3
soundboard/rats.mp3
soundboard/sheesh.mp3
soundboard/teemo.mp3
soundboard/try_me.mp3
welcome/93532681551228928/bully.mp3
__pycache__/soundboard.cpython-39.pyc
